<!DOCTYPE html>
<html lang="es" class="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png" type="image/png">
    <title>SPJSAH | <%= title %></title>
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
</head>

<body style="font-family: Verdana, Geneva, Tahoma, sans-serif;">

    <%- body %>

    </body>
</html>